@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
  
}

.bg6 {
  background-color: #5b23fa;
  height: 110vh;
}

.container6 {
  text-align: center;
  position: relative;
}

.container6 h2{
  color: #003459;
}

.container6 p{
  color: #f9f9f9;
}

.column-left6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column-left6 h1 {
  margin-bottom: 1rem;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 3rem;
  color: #5b23fa;
}

.column-left6 h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #1d3557;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 2px solid #8d99ae;
  animation: typing-animation 5s steps(40) infinite,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #8d99ae;
  }
}

.column-left6 p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  color: #e9ecef;
}

.column-right6 .image-container6 {
  width: 100%; 
  text-align: center; 
}

.column-right6 .image {
  width: 80%;
  height: auto;
  border-radius: 100%; 
}

@media screen and (max-width: 768px) {
  .bg6 {
    height: 270vh;
  }
  .container6 {
    text-align: center;
    position: relative;
  }
  .column-left6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .column-left6
   h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #5b23fa;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: Poppins, serif;
  font-size: 15px;
}

button.learn {
  font-weight: 600;
  color: #f9f9f9;
  padding: 1.25em 2em;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e9ebee;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #f9f9f9;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn:hover {
  background: #dce0e3;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.learn:hover::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #f9f9f9;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn:active {
  background: #dce0e3;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.learn:active::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

button:hover {
  background: #fff;
  color: #000000;
}

.column-right6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

@media screen and (max-width: 768px) {
  .container6 {
    grid-template-columns: 1fr;
  }
}

.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card {
  padding: 50px 50px;
  margin-bottom: 30px;
  background-color: #5b23fa;
  color:#1d3557;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-ou
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-card img {
  border-radius: 20%;
  width: 100%;
  max-width: 150px;
  height: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color:#dce0e3;
}

.social-icons a {
  margin: 0 10px;
  color: #1d3557;
}