.scroll {
    font-family: sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    height: 20vh;
  }
  
  img {
    max-width: 250px;
    height: 5rem;
    padding: 0 15px;
    object-fit: cover;
  }
  
  img:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 5rem;
  }
  
  .wrapper {
    position: absolute;
    display: flex;
  }
  
  section2 {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  