@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx{
  color: #7289da;
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
}

.bg3 {
  background-color: #5b23fa;
  height: 110vh;
}

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
  width: 100%; 
}

.column-left4 h1 {
  margin-bottom: 1rem;
  font-family: 'Bungee', sans-serif;
  font-size: 3rem;
  color: #f9f9f9;
}


.column-left4 h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #1d3557;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 2px solid #8d99ae;
  animation: typing-animation 5s steps(40) infinite,
    blink-caret 0.75s step-end infinite;
}

.column-left4 p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  color: #e9ecef;
}

@media screen and (max-width: 768px) {
  .column-left4 h2 {
    white-space: normal;
  }
  .column-left4 h1 {
    margin-bottom: 1rem;
    font-size: 40px;
    color: #f9f9f9;
  }
}

.column-right4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .bg3 {
    height: 130vh;
  }

  .container4 {
    grid-template-columns: 1fr;
  }

  .column-right4 {
    padding: 2rem;
  }

  .image {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10%; 
  }
}

.button-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
  .button-container a {
    margin: 5px; /* Adjust the margin as needed */
  }
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

button.learn {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #4f5d75;
  padding: 1.25em 2em;
  background: #f6f8fa;
  border: 2px solid #ccd6dd;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e9ebee;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.625em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #5b23fa, 0 0.625em 0 0 #5b23fa;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn:hover {
  background: #dce0e3;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.learn:hover::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0.5em 0 0 #ffffff;
  box-shadow: 0 0 0 2px #5b23fa, 0 0.5em 0 0 #5b23fa;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn:active {
  background: #dce0e3;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.learn:active::before {
  -webkit-box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  box-shadow: 0 0 0 2px #ccd6dd, 0 0 #ffffff;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

button:hover {
  background: #fff;
  color: #000000;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}